<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC93Vnz-BzbY3ABO7sj0Upi9L70kHgL-eM</string>
	<key>GCM_SENDER_ID</key>
	<string>213228076795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blueseakbeauty.ezs</string>
	<key>PROJECT_ID</key>
	<string>bluesea-k-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>bluesea-k-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213228076795:ios:0eb7aa5e23ab997a49ba5e</string>
	<key>DATABASE_URL</key>
	<string>https://bluesea-k-beauty-default-rtdb.firebaseio.com</string>
</dict>
</plist>